{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Desculpe</title>

    <h4>Estamos utilizando o <strong>Yahoo Reader</strong> para obter os dados e por ser uma ferramenta gratuita nem sempre funciona bem no Brasil. Favor tentar novamente em 2 minutos.</h4>
    <h5>Em todo caso verifique tambem se o ticker utilizado na pesquisa esta correto. Por exemplo, para Petrobras, utilize petr4 </h5>
  </head>
  <body>
    <td class=xl78 style='border-top:none'>{{df}}</td>
  </body>
</html>


{% endblock %}
