{% extends 'base.html' %}

{% load static %}

{% block content %}


<html>

<img class="mb-4" src="{% static "images/Corporate.png" %}">
<head>
  <h2>Vamos analisar sua carteira de ações? </h2>
  <br>




    <body>
    <p> {{ user.username }}</p>
      <h1>{{header}}</h1>


      {% if form.errors %}
          <p style="color: red;">
              Please correct the error{{ form.errors|pluralize }} below.
          </p>
      {% endif %}

      <form action="" enctype="multipart/form-data"  method="post">
          <table>
              {{ form.as_table }}
          </table>
          {% csrf_token %}
          <input type="submit" value="Submit">
      </form>



  </body>
  </html>


  {% endblock %}
